@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.gcc-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.blocks {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.colorblock {
  position: relative;
}

.colorblock .block {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  cursor: pointer;
}

.colorblock .picker-wrapper {
  position: absolute;
  z-index: 2;
}

.fills,
.buttons {
  margin-left: 3rem;
}

.default-fills > div {
  display: flex;
  align-items: center;
}

.default-fills input {
  margin-right: -1rem;
  margin-bottom: 4px;
  z-index: 1;
}

.default-fills ul {
  list-style: none;
}

.default-fills ul > li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.gcc-footer {
  text-align: center;
}
